{% extends "assets/../base.html" %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Claim this item</h2>
        <p>Please enter your information to claim this item:</p>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="POST" >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
