{% extends 'base.html' %}

{% block head %}

  <title>Lost and Found | Home Page</title>

{% endblock %}

{% block body %}
<!-- upload images code  -->

    <div class="container-fluid">

  {% for item in request_item %}

    <div class="col-md-4" style="cursor: pointer">

      <div class="card">

        <img class="img-card-top mx-auto" src="{{ i.Image.url }}" alt="{{ i.ItemID }}" width="300px" height="200px">

        <div class="card-content">

          <p class="card-text">{{ i.Description }} </p>

          <a href="{% url 'claim' id=i.ItemID %}">

            <button>Click here to claim</button>

          </a><br><br>

        </div><!-- card content -->
      </div><!-- card -->
    </div><!-- col-md-4 -->



      </div><!-- row closing -->

      <hr>


  {% endfor %}
</div>

{% endblock %}
