{% extends "assets/../base.html" %}

{% load static %}
<----
Page fetch from database and displays title, location and date attributes of the item.
Also, includes a link to a page that displays more details about the item.
--->
{% block body %}
    <p><b>"The ultimate lost and found software for schools, colleges, and universities."</b></p>
    <div class="container">
        <div class="centered-box">
            <p>FOUND ITEMS</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for item in request_info_objects %}
                <div class="mt-2 px-3 py-2 bg-white rounded-sm shadow-md" style="padding-left: 10px; padding-top: 1px; padding-bottom: 1px; margin-top: 10px;">
                    <h3 style="margin-bottom: 25px; font-weight: bold;" class="text-3xl text-gray-89">{{ item.Item_info }}</h3><br>
                    <p style="margin-bottom: 20px">Location: {{ item.Location }}</p><br>
                    <p class="text-gray-500"> Posted on {{ item.the_date }}</p><br>
                    <a href="{% url 'item_details' item.id %}" class="text-blue-500">
                        View more details
                        <br><br>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
