<!-- home.html -->
{% extends "assets/../base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% for item in request_info_objects %}
      <p>Item info: {{ item.Item_info }}</p>
      <p>Description: {{ item.Description }}</p>
      <p>Location: {{ item.Location }}</p>
{% endfor %}
    </div>
  </div>
</div>

    <form action="{% url 'delete_info' %}" method="POST">
  {% csrf_token %}
  <button type="submit">Delete information</button>
</form>
{% endblock %}







