{% extends 'base.html' %}
{% block head %}
    <title>Campus Finder | Login</title>
{% endblock %}
{% block body %}
<div class="container">
  <div class="container" align="center">
    <br><br>
    <br>
    <p style="font-size: 40px">LOGIN</p>
    <br><br><br>
  </div>
  <div class="container" align="center">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <br><br><br>
      <button type="submit" name="submit" class="button">Login</button>
    </form>
  </div>
</div>
{% endblock %}
