<!-- request_item.html -->
{% extends 'base.html'%}
{% block head %}

<title>REPORT ITEM</title>
{% endblock %}
{% block body %}
<div id="main">
  <div class="container">
    <div class="container" align="center">
      <b>
        <p style="font-size: 35px">REPORT LOST ITEM</p>
      </b>
    </div>
    <form class="form-horizontal" method="post" action="{% url 'request_item' %}">
      {% csrf_token %}
      <div class="form-group">
        <br><br><br><br>
        <label class="control-label col-sm-2" for="Item info" style="font-size:20px">ITEM TITLE:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Item info" placeholder="ITEM TITLE" name="Item info" style="font-size: 18px" required />
          <br><br>
        </div>
        <label class="control-label col-sm-2" for="Description" style="font-size:20px">DESCRIPTION:</label>
        <div class="col-sm-10">
          <textarea rows="3" class="form-control" name="Description" id="Description" data-gramm="false" wt-ignore-input="true"></textarea>
          <br><br>
        </div>
        <label class="control-label col-sm-2" for="Location" style="font-size:20px">LOCATION:</label>
        <div class="col-sm-10">
          <div class="col-sm-10">
            <select class="form-control" id="Location" name="Location" style="font-size: 18px" required>
              <option value="">Select a location</option>
              <option value="Library">Library - Dorset Belvedere Place</option>
              <option value="Canteen">Canteen - Dorset Belvedere Place</option>
              <option value="Reception - Dorset Belvedere Place">Reception - Dorset Belvedere Place</option>
              <option value="Room 811 - Dorset Belvedere Place">Room 811 - Dorset Belvedere Place</option>
              <option value="Room 821 - Dorset Belvedere Place">Room 821 - Dorset Belvedere Place</option>
              <option value="Room 831 - Dorset Belvedere Place">Room 831 - Dorset Belvedere Place</option>
              <option value="Room 832 - Dorset Belvedere Place">Room 832 - Dorset Belvedere Place</option>
            </select>
          </div>
          <br><br>
        </div>
        <div class="container" align="center">
            <button type="button" id="Cancel" class="button cancel-button" onclick="goBack()">CANCEL</button>
          <button type="submit" id="Save" name="Save" class="button" onclick="showMessage()">SAVE</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
function showMessage() {
  alert("Information saved successfully");
}
function goBack() {
window.history.back();
}
</script>
{% endblock %}
