{% extends 'base.html' %}
{% block head %}
  <title>Campus Finder | Register</title>
{% endblock %}
{% block body %}
<div class="container">
  <div class="container" style="text-align: center; font-size: 30px">
    <h3>REGISTER NEW PROFILE</h3>
  </div>
  <form class="form-horizontal" method="post" onsubmit="showConfirmation()">
    {% csrf_token %}
    {% for field in form %}
    <div style="margin: 10px 0">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small style="color: black">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="button" type="submit">Create Account</button>
  </form>
</div>
<script>
function showConfirmation() {
  alert("Account profile successfully created!");
}
</script>
{% endblock %}
