{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% block head %}
  <title>Campus Finder</title>
  {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home_page' %}">
          <div class="logo-container">
            <img src="{% get_media_prefix %}logo.png" alt="My Image" class="logo">
            <p class="logo-text">Campus Finder | Find your lost items, fast and easy with us! </p>
          </div>
        </a>
      </div>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="{% url 'home_page' %}"><b>Home</b></a></li>
    {%if user.is_authenticated %}
      <li><a href="{% url 'profile_page' %}"><b>Profile</b></a></li>
      <li><a href="{% url 'edit_profile' %}"><b>Edit Profile</b></a></li>
      <li><a href="{% url 'report_item' %}"><b>Report Item</b></a></li>
        <li><a href="{% url 'register' %}"><b>Register New Profile</b></a></li>
        <li><a href="{% url 'view_claims' %}"><b>Claims</b></a></li>
    {%else%}
      <li><a href="{% url 'login' %}"><b>Login</b></a></li>
    {%endif%}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span><b>Logout</b></a></li>
      {%else%}

      {% endif %}
    </ul>
  </div>
</nav>
<!--
<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span><b>Sign Up</b></a></li>
-->
<div class="container">
  {% block body %}
  <h1>Base</h1>
  {% endblock %}
</div>

<div class="advertisements">
    <p class="featured-by">Featured by</p>
  <img src="{% get_media_prefix %}logo_dorset.png" alt="Advertisement logo" class="logo" style="width: 240px; height: 220px">
</div>

<footer class="footer">
  <div class="container">
    <p>&copy; 2023 <b>Campus Finder</b> | All rights reserved.</p>
  </div>
</footer>
</body>
</html>

